<nav class="navBar">
    <ul>
        <li class="menu"><a href="#">Home</a></li>
        <li class="menu"><a href="#">Contact</a></li>
        <li class="menu"><a href="#">About Us</a></li>
    </ul>
</nav>
<section id="home">
    <h2>This is Home Page</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In commodi repellat tempora fugiat eos odio quasi modi eum sapiente? Eius.
</p>
</section>
<section id="contacct">
    <h2>This is Contact Page</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci perferendis maiores esse deleniti sapiente velit facere nulla! Mollitia, alias. Iste!</p>
</section>
<section id="about">
    <h2>This is About Us</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, repudiandae facilis quam ad laboriosam, eos architecto, labore enim corrupti doloribus perferendis autem sapiente dolore reiciendis! Nobis rerum deleniti suscipit itaque.</p></section>




